body{
   background-color:#616a6b ;
}
#box1{
padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
   left: 45px;
   top:30px;
}
#box2{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
   left: 45px;
   top:35px;
}
#box3{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;   
   position: relative;
   left: 45px;
   top:40px;
}
#box4{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
   left: 45px;
   top:45px;
}
#box5{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
    left: 45px;
   top:50px;
}
#box6{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
   left: 45px;
   top:55px;
}
#box7{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
   position: relative;
   left: 45px;
   top:60px;
}
#btn1{
   position: relative;
   left: 50px;
   top:52px;
}
#para1{
   position: relative;
   left: 45px;
   top:65px;
}
#btn2{
   background-color:blue;
   position:relative;
   left: 100px;
   top:70px;
   padding:10px 15px;
}
#rev{
   position:relative;
   left: 10px;
   top:250px;
   color:black;
}
